*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--ff-Barlow-Semi-Condensed);
    font-size: 13px;
}

:root{
    /* primary color */
    --Moderate-violet: hsl(263, 55%, 52%);
    --Very-dark-grayish-blue: hsl(217, 19%, 35%);
    --Very-dark-blackish-blue: hsl(219, 29%, 14%);
    --White: hsl(0, 0%, 100%);

    /* natural color*/
    --Light-gray: hsl(0, 0%, 81%);
    --Light-grayish-blue: hsl(210, 46%, 95%);

    /* font family */
    --ff-Barlow-Semi-Condensed: 'Barlow Semi Condensed', sans-serif;

    /* font waite */
    --fw-medium: 500;
    --fw-semi-bold: 600;
}

body{
    background-color: transparent;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
    background-color: var(--Light-grayish-blue);
    width: min(90rem, 100%);
    min-height: 56.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards-container{
    background-color: transparent;
    width: 90%;
    padding: 5rem 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
    grid-template-areas: 
    "a a b e"
    "c d d e";
}

/* all card */
.card{
    background-color: #fff;
    padding: 1.5rem 2rem;
    position: relative;
    border-radius: .5rem;
}

.card_img{
    width: 2.5rem;
    display: inline-block;
    border-radius: 50%;
}

.card_name{
    font-size: 13px;
    font-weight: var(--fw-medium);
    color: var(--Light-grayish-blue);
    display: inline-block;
    position: absolute;
    top: 1.5rem;
    left: 5.5rem;
}

.card_title{
    font-size: 13px;
    font-weight: var(--fw-medium);
    color: var(--Light-grayish-blue);
    opacity: .5;
    display: inline-block;
    position: absolute;
    top: 2.5rem;
    left: 5.5rem;
}

.card_bio{
    font-size: 1.5rem;
    font-weight: var(--fw-semi-bold);
    color: var(--Light-grayish-blue);
    margin-top: 1rem;
}

.card_sub-bio{
    font-size: 13px;
    font-weight: var(--fw-medium);
    color: var(--Light-grayish-blue);
    opacity: .7;
    margin-top: 1rem;
}

/* separate card */
.card-1{
    background-color: var(--Moderate-violet);
    grid-area: a;
    background-image: url(../img/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: top right 17%;
}
.card-2{
    background-color: var(--Very-dark-grayish-blue);
    grid-area: b;
}
.card-3{
    background-color: var(--White);
    grid-area: c;
}
.card-4{
    background-color: var(--Very-dark-blackish-blue);
    grid-area: d;
}
.card-5{
    background-color: var(--White);
    grid-area: e;
}

.card-3 .card_name, .card-5 .card_name{
    color: var(--Very-dark-grayish-blue);
}
.card-3 .card_title, .card-5 .card_title{
    color: var(--Very-dark-grayish-blue);
}
.card-3 .card_bio, .card-5 .card_bio{
    color: var(--Very-dark-grayish-blue);
}
.card-3 .card_sub-bio, .card-5 .card_sub-bio{
    color: var(--Very-dark-grayish-blue);
}



/*---------- responsive -----------*/

@media(max-width: 853px){
    /* card container */
    .cards-container{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, max-content);
        grid-template-areas: 
        "a"
        "b"
        "c"
        "d"
        "e";
        align-items: start;
    }
}