*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--ff-Barlow-Semi-Condensed);
    font-size: 13px;
}

:root{
    /* primary color */
    --Moderate-violet: hsl(263, 55%, 52%);
    --Very-dark-grayish-blue: hsl(217, 19%, 35%);
    --Very-dark-blackish-blue: hsl(219, 29%, 14%);
    --White: hsl(0, 0%, 100%);

    /* natural color*/
    --Light-gray: hsl(0, 0%, 81%);
    --Light-grayish-blue: hsl(210, 46%, 95%);

    /* font family */
    --ff-Barlow-Semi-Condensed: 'Barlow Semi Condensed', sans-serif;

    /* font waite */
    --fw-medium: 500;
    --fw-semi-bold: 600;
}

body{
    background-color: transparent;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
    background-color: var(--Light-grayish-blue);
    width: min(90rem, 100%);
    min-height: 56.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards-container{
    background-color: transparent;
    width: calc(70rem, 90%);
}